# Note: you can use django.core.management.utils.get_random_secret_key()

LOCAL_SECRET_KEY="PUT A GOOD SECRET KEY HERE"
PRODUCTION_SECRET_KEY="PUT A GOOD SECRET KEY HERE"


EMAIL_HOST_USER_LOCAL="your-local-email@gmail.com"
EMAIL_HOST_PASSWORD_LOCAL="your-local-app-password"

EMAIL_HOST_USER_PRODUCTION="your-production-email@gmail.com"
EMAIL_HOST_PASSWORD_PRODUCTION="your-production-app-password"

POSTGRES_DB="your-production-postgresql-db"
POSTGRES_USER="your-production-postgresql-db-user"
POSTGRES_PASSWORD="your-production-postgresql-db-password"