<!-- ===================== -->
<!-- Footer -->
<!-- ===================== -->

<footer>

    <div class="footer-container">

        <div class="footer-logo">

            <span class="logo-aa">
                Digital Business Card
            </span>

        </div>

        <p>
            Present yourself with best stuff
        </p>

        <div class="footer-line"></div>

        <small>
            © {% now "Y" %} Digital Business Card — Design by <span style="font-size: 1rem;" class="logo-aa"><a href="http://github.com/erfaw">Erfaw</a></span>
        </small>

    </div>

</footer>