{% load i18n %}

<!-- ===================== -->
<!-- Footer -->
<!-- ===================== -->

<footer>

    <div class="footer-container">

        <div class="footer-logo">

            <span class="logo-aa">
                {% trans "Digital Business Card" %}
            </span>

        </div>

        <p>
            {% trans "Present yourself with best stuff" %}
        </p>

        <div class="footer-line"></div>

        <small>
            © {% now "Y" %} {% trans "Digital Business Card" %} — {% trans "Design by" %} <span style="font-size: 1rem;" class="logo-aa"><a href="http://github.com/erfaw">Erfaw</a></span>
        </small>

    </div>

</footer>