<!-- ===================== -->
<!-- Navbar -->
<!-- ===================== -->

<header>

    <nav class="navbar">

        <a href="{% url 'index' %}" class="logo">
            <span class="logo-aa">Digital Business Card</span>
        </a>

        <ul class="nav-links">

            <li>
                <a
                {% if request.path == '/' %}
                    class="active"
                {% endif %}
                href="{% url 'index' %}">
                    Home
                </a>
            </li>
            {% if user.is_authenticated %}

                <li>
                    <a
                    {% if 'dashboard' in request.path %}
                        class="nav-item active mr-3"
                    {% else %}
                        class="nav-item mr-3"
                    {% endif %}
                    href="{% url 'dashboard' %}">
                        Dashboard - {{ user.username }}
                    </a>
                </li>

                <li>
                    <!-- TODO make logout somehow red or something to be different. main purpose is guide user. -->
                    <a
                    {% if 'logout' in request.path %}
                        class="nav-item active mr-3"
                    {% else %}
                        class="nav-item mr-3"
                    {% endif %}
                    href="javascript:{document.getElementById('logout').submit()}"">
                        Logout
                    </a>
                    <form action="{% url 'logout' %}" method="POST" id="logout">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                </li>

            {% else %}
                <li>
                    <a
                    {% if 'register' in request.path %}
                        class="nav-item active mr-3"
                    {% else %}
                        class="nav-item mr-3"
                    {% endif %}
                    href="{% url 'register' %}">
                        Register
                    </a>
                </li>

                <li>
                    <a
                    {% if 'login' in request.path %}
                        class="nav-item active mr-3"
                    {% else %}
                        class="nav-item mr-3"
                    {% endif %}
                    href="{% url 'login' %}">
                        Login
                    </a>
                </li>
            {% endif %}
        </ul>

    </nav>

</header>