<!-- ===================== -->
<!-- Navbar -->
<!-- ===================== -->

<header>

    <nav class="navbar">

        <a href="#" class="logo">
            <span class="logo-aa">AA</span>
            <span class="logo-text">Technology</span>
        </a>

        <ul class="nav-links">

            <li>
                <a href="#" class="active">
                    Home
                </a>
            </li>

            <li>
                <a href="#">
                    Register
                </a>
            </li>

            <li>
                <a href="#">
                    Login
                </a>
            </li>

        </ul>

    </nav>

</header>