<!-- ===================== -->
<!-- Navbar -->
<!-- ===================== -->

<header>

    <nav class="navbar">

        <a href="{% url 'index' %}" class="logo">
            <span class="logo-aa">Digital Business Card</span>
        </a>

        <ul class="nav-links">

            <li>
                <a href="{% url 'index' %}" class="active">
                    Home
                </a>
            </li>

            <li>
                <a href="{% url 'register' %}">
                    Register
                </a>
            </li>

            <li>
                <a href="{% url 'login' %}">
                    Login
                </a>
            </li>

        </ul>

    </nav>

</header>