{% extends 'base.html' %}

{% block content %}
<!-- ================= MAIN ================= -->

<main>

    <section class="hero">

        <div class="hero-card register-card">

            <div class="card-tag">
                // Create Account
            </div>

            <h1>
                Join
                <span>Digital Card</span>
            </h1>

            <p>
                Create your account and start your journey with us.
            </p>

            <form method="post" action="{% url 'register' %}" class="register-form">
                {% csrf_token %}

                <div class="cf-field">
                    <label class="cf-label" for="cfName" data-i18n="cf_name_l">Full Name</label>
                    <input class="cf-input" type="text" id="cfName" name="full_name" data-i18n-ph="cf_name_ph"  autocomplete="name" required/>
                </div>

                <br>

                <div class="cf-field">
                    <label class="cf-label" for="cfName" data-i18n="cf_name_l">Username</label>
                    <input class="cf-input" type="text" id="cfName" name="username" data-i18n-ph="cf_name_ph"  autocomplete="username" required/>
                </div>

                <br>

                <div class="cf-field">
                    <label class="cf-label" for="cfName" data-i18n="cf_name_l">Email</label>
                    <input class="cf-input" type="email" id="cfName" name="email" data-i18n-ph="cf_name_ph" autocomplete="email" required/>
                </div>

                <br>

                <div class="cf-field">
                    <label class="cf-label" for="cfName" data-i18n="cf_name_l">Password</label>
                    <input class="cf-input" type="password" id="cfName" name="password" data-i18n-ph="cf_name_ph" autocomplete="new-password" required/>
                </div>

                <br>

                <div class="cf-field">
                    <label class="cf-label" for="cfName" data-i18n="cf_name_l">Confirm Password</label>
                    <input class="cf-input" type="password" id="cfName" name="password2" data-i18n-ph="cf_name_ph" autocomplete="new-password" required/>
                </div>

                <br>

                <button class="cf-submit" type="submit">
                    <span data-i18n="cf_submit">Register</span>
                    <svg viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M2 8h12M9 3l5 5-5 5" />
                    </svg>
                </button>

            </form>

        </div>

    </section>

</main>
{% endblock %}