{% extends 'base.html' %}

{% block content %}
<!-- ================= MAIN ================= -->

<main>

    <section class="hero">

        <div class="hero-card register-card">

            <div class="card-tag">
                // Create Account
            </div>

            <h1>
                Join
                <span>Digital Card</span>
            </h1>

            <p>
                Create your account and start your journey with us.
            </p>

            <form class="register-form">

                <label>Full Name</label>
                <div class="input-group">

                    <input type="text" placeholder="John Doe">

                </div>

                <label>Email</label>
                <div class="input-group">

                    <input type="email" placeholder="john@example.com">

                </div>

                <label>Password</label>
                <div class="input-group">

                    <input type="password" placeholder="••••••••">

                </div>

                <label>Confirm Password</label>
                <div class="input-group">

                    <input type="password" placeholder="••••••••">

                </div>

                <button class="btn btn-primary register-btn">
                    Create Account
                </button>

            </form>

        </div>

    </section>

</main>
{% endblock %}