{% extends 'base.html' %}

{% block content %}
<!-- ===================== -->
<!-- Main -->
<!-- ===================== -->

<main>

    <section class="hero">

        <div class="hero-card">

            {% include 'partials/_alert.html' %}
            
            <div class="card-tag">
                // Welcome
            </div>

            <h1>
                Digital
                <span>Business Card</span>
            </h1>

            <p>
                Build your own business card and share with others!
            </p>

            <div class="hero-buttons">
                <!-- TODO fix these two buttons link and style -->
                <button class="cf-submit" type="submit">
                    <span data-i18n="cf_submit">Register</span>
                    <svg viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M2 8h12M9 3l5 5-5 5" />
                    </svg>
                </button>

                <button class="cf-submit login" type="submit">
                    <span data-i18n="cf_submit">Login</span>
                </button>
                
                <!-- TODO make a quick way to see card based on username directly -->

            </div>

        </div>

    </section>

</main>
{% endblock %}