{% extends 'base.html' %}

{% block content %}
<!-- ===================== -->
<!-- Main -->
<!-- ===================== -->

<main>

    <section class="hero">

        <div class="hero-card">

            <div class="card-tag">
                // Welcome
            </div>

            <h1>
                Digital
                <span>Business Card</span>
            </h1>

            <p>
                Build your own business card and share with others!
            </p>

            <div class="hero-buttons">
                <!-- TODO fix these two buttons link and style -->
                <button class="btn btn-primary">
                    Register
                </button>

                <button class="btn btn-secondary">
                    Login
                </button>

            </div>

        </div>

    </section>

</main>
{% endblock %}