{% extends 'base.html' %}

{% block content %}
<!-- ===================== -->
<!-- Main -->
<!-- ===================== -->

<main>

    <section class="hero">

        <div class="hero-card">

            <div class="card-tag">
                // Welcome
            </div>

            <h1>
                Modern Tech
                <span>Experiences</span>
            </h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Tempore, magni. Lorem ipsum dolor sit amet consectetur
                adipisicing elit.
            </p>

            <div class="hero-buttons">

                <button class="btn btn-primary">
                    Lorem
                </button>

                <button class="btn btn-secondary">
                    Ipsum
                </button>

            </div>

        </div>

    </section>

</main>
{% endblock %}